<h1> Clientes totales</h1>

<div class="clients_table">
<table class="table">
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">email</th>
      <th scope="col">password</th>
      <th scope="col">nombre</th>
      <th scope="col">edad</th>
      <th scope="col">Nombre de usuario</th>
    </tr>
</thead>
    <tbody>
    {{#each result}}
    <tr>
        <th scope="row">{{id}}</th>
        <td>{{email}} </td>
        <td>{{password}}</td>
        <td>{{nombre}}</td>
        <td>{{edad}}</td>
        <td>{{foto_perfil}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>



<div class="pagination-clients">
    <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
</div>

</div>